<div class="row mb-3">
  <div class="col-7 console-output-header-text runtime-error-test-case font-poppins-600">Test Case {{testCaseNumber}}</div>
</div>
<div class="row runtime-error-description-section">
  <div class="container  error-output-details">
    <div class="row runtime-error-section">
      <div class="container input-section runtime-error-detail">
        Input: {{(errorsInput | runtimeErrorView).inputs}}
      </div>
    </div>
    <div class="row runtime-error-section">
      <div class="container actual-section runtime-error-detail">
        Actual: {{(errorsInput | runtimeErrorView).message}} 
      </div>
    </div>
    <div class="row">
      <div class="container expected-section runtime-error-detail">
        Expected: {{(errorsInput | runtimeErrorView).expected}}
      </div>
    </div>
  </div>
</div>