<div class="row justify-content-center mb-5">
  <div
    class="container fit-content-width font-poppins-600 form-default-color form-header"
  >
    Login
  </div>
</div>
<div class="row">
  <div class="container w-50">
    <form
      #registration
      [formGroup]="loginForm!.form"
      (ngSubmit)="submitLogin()"
    >
    
      <div class="form-group mt-form-custom-4e">
        <input
          type="email"
          formControlName="inputEmail"
          class="form-control"
          id="registrationEmail"
          placeholder="Enter email"
          required
        />
        <div class="alert alert-danger"
        *ngIf="loginForm.inputEmail.invalid &&
        loginForm.inputEmail.touched">
        Email length should be 4-30 letters</div>
      </div>
      
      <div class="form-group mb-5 mt-form-custom-4em">
        <input
          formControlName="inputPassword"
          type="password"
          class="form-control"
          id="registrationPassword"
          placeholder="Password from 4 to 30 symbols"
          required
        />

        <div class="alert alert-danger"
        *ngIf="loginForm.inputPassword.invalid &&
        loginForm.inputPassword.touched">
        Password length should be 4-30 letters
    </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-5">
          <a
            
            class="form-default-color custom-button justify-content-center w-100"
            routerLink="/register"
          >
            To Registration
          </a>
        </div>
        <div class="col-3">
          <button
            type="submit"
            [disabled]="loginForm.form.invalid"
            class="form-submit-color custom-button justify-content-center w-100"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>