<div class="compile-error-output">
  <div class="row compile-error-output-header">
    <div class="container font-poppins-700 console-output-header-text runtime-error-header">
      {{(codeRunOutcome | outcomeTypeToDetailedView)?.header}}:
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="container error-output-details font-poppins-600">
      <runtime-error-output [errorsInput]="errorFlow" *ngIf="(codeRunOutcome | outcomeTypeToDetailedView)?.isRuntimeError"></runtime-error-output>
      <compile-error-output [errorsInput]="errorFlow" *ngIf="(codeRunOutcome | outcomeTypeToDetailedView)?.isCompilationError"></compile-error-output>
    </div>
  </div>
</div>
