<div class="row">
  <div class="col description-manage-section">
    <div class="row">
      <div
        class="col global-selection-menu-element option-menu-element"
        appHighlight
        [isActive]="true"
      >
        Description
      </div>
      <div
        class="col global-selection-menu-element option-menu-element"
        appHighlight
      >
        Solutions
      </div>
      <div
        class="col global-selection-menu-element option-menu-element"
        appHighlight
      >
        Submissions
      </div>
    </div>
  </div>
  <div class="col code-editor-manage-section">
    <div class="row h-100-prc">
      <div class="col-3 h-100-prc">
        <div class="row h-100-prc">
          <code-editor-settings
            (currentLanguageEvent)="setCurrentLanguage($event)"
            [availableLanguagesInput]="availableLanguages"
          ></code-editor-settings>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row problem-page-fulfillness">
  <div class="col probem-page-description">
    <div class="row">
      <problem-description
        [descriptionState]="descriptionCodeProblemState"
      ></problem-description>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <code-editor
        [codeTemplate]="codeTemplateObserver"
        (codeValueEmitter)="setSourceCodeState($event)"
        [currentLanguage]="currentLanguageObserver"
      ></code-editor>
    </div>
    <div class="row">
      <console-output-settings
        (submitEvent)="submitCode($event)"
      ></console-output-settings>
    </div>
    <div class="row">
      <console-output
        [errorFlow]="outputErrorView"
        [codeRunOutcome]="codeRunOutcome"
        [codeRunStage]="codeRunStage"
      ></console-output>
    </div>
  </div>
</div>
