.code-problem-tag {
    width: fit-content;
}

.code-problem-tag-text-container {
    font-weight: 200;
}

.code-problem-tag-selected {
    background-color: #868EA9;
}

.code-problem-tag-deselected {
    background-color: #9ABDD8;
}
