<page-header></page-header>
<div class="container" style="color: #535153 !important">
    <div class="d-flex justify-content-between">
        <challenge-list-navbar [activeComponent]="1"></challenge-list-navbar>
        <button class="custom-button form-submit-color mt-4 me-0" routerLink="create">Create Challenge</button>
    </div>
    <div class="row justify-content-center problem-list mt-4">
        <!-- <div class="col-4 global-content-container filter-col pt-3" style="min-height: 300px">
            <challenges-filter (filterEmitter)="applyFilter($event)" (cancelFilterEmitter)="clearFilter()" [codeLanguages]="codeLanguages"></challenges-filter>
        </div> -->
        <div class="col ms-0 global-content-container">
            <ng-container *ngIf="challenges?.length; else empty">
                <challenges-list-item [view]="1" (onOpen)="selectChallenge($event)" *ngFor="let challenge of challenges" [challenge]="challenge"></challenges-list-item>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #empty>
    <div class="text-center h-100 mt-5">
        <h1>There is no challenges for you</h1>
        <span class="material-symbols-outlined">sentiment_sad</span>
    </div>    
</ng-template>