.code-change-menu { 
  height: 112% !important;
  max-width: 100px;
}

.code-editor-settings {
  height: 90% !important;
  color: #4D7F9D;
}

.form-select { 
  background-size: 23px 22px !important;
  font-size: 22px !important;
}
