.console-output-selection { 
  color: #4D7F9D !important;
  padding: 0.5em;
}

.console-output-settings { 
  margin-top: 1em;
  text-align: center;
}

.code-editor-button {
  padding: 0.5em;
}

.run-btn { 
  color: #535153;
}

.submit-btn { 
  color: #379A3C !important;
}

