.option-menu-element {
    font-size: 20px;
    cursor: pointer;
    justify-content: center;
    display: flex;
  }
  
  .code-editor-manage-section { 
    margin: 10px;
  }
  
  .highlight {
    background-color: #FBFAFA;
    color: #4D7F9D;
  }