.highlight {
  border: solid #4D7F9D !important;
}

.code-run { 
  border: solid transparent;
  color: #4D7F9D;
  background-color: white;
  border-radius: 15px;
  padding: 1em 0.5em;
  margin-bottom: 1em;
  cursor: pointer;
}